body{
    font-family: 'Quicksand', sans-serif;
    background-image: url(backgroundRW.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}

.header {

    background-color: red;
    height: 50px;
    border-radius: 10px;
    color: white;
    align-content: center;
    

}
#titulo{
    display: flex;
    margin: 0% auto;
    justify-content: center;
    /* align-self: center; */
    margin-top: 1%; 
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

#card {
    align-items: center;
    
}
#form {
    border: solid;
    border-color: black;
    width: 50%;
    height: 25%;
    margin: 0% auto;
    margin-top: 2%;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

#form:hover {

    box-shadow: 5px 5px darkgrey;
    

}
/* #uploadViewCsv{
    display: none;
} */


#uploadFile {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.file-upload {
    display: flex;
    margin: 0% auto;
    width: 40%;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

.file-upload:hover {

    background-color: red;
    color: white;

}

#imgCSV {
    display: flex;
    height: 20%;
    width: 20%;
    margin: 0% auto;
}

#imgCSV {
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      70% { transform:translateY(0%); }
      80% { transform:translateY(-7%); }
      90% { transform:translateY(0%); }
      95% { transform:translateY(-7%); }
      /* 97% { transform:translateY(0%); } */
      99% { transform:translateY(-7%); }
      100% { transform:translateY(0); }
  }

#mensaje {
    display: flex;
    margin: 0% auto;
    justify-content: center;

}

#valor-factura {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* padding: 3%; */
    height: 100%;
    width: 100%;
    /* top: 30%;
    left: 25%; */
    /* margin: 0% auto; */
    font-size: xxx-large;
    color:whitesmoke;
    align-items: center;
    justify-content: center;
    z-index: 100;
   
    backdrop-filter:blur(25px);
}

#textInput{
    padding-bottom: 5%;
   
}
#calcular {
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;
}

#newLabel{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    margin-top: 5%;
    font-size: xx-large;
}

#myTable {
    border: 0px solid red;
    width: 100%;
    margin: 0% auto;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.6);
    /* opacity: 0.2; */
    border-radius: 10px;
    font-weight: bolder;
}

th, td {

    border: 1px solid red;
    
}

#btnDownload{
    display: none;
    text-align: center;
    justify-content: center;
    width: 30%;
    margin: 0% auto;
}

#btnDownload:hover {

    background-color: red;
    color: white;

}


.footSite{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    color: white;
    /* border: solid black; */
    margin-top: auto;
    height: 90px;
    width: 100%;
    
}
#logos{
    
    margin-top: 2%;
    align-content: center;
    padding-left: 2%;
    padding-right: 3%;
    height: 30%;
}
#logo-one {
    height: 100%;
    filter:invert(1);
}
#logo-two {
    height: 100%;
    filter:invert(1);
}
#logo-three {
    filter:invert(1);
     height: 90% ;
     
}
#marca{
    position:relative;
    bottom: 0;
}

#logo-one:hover{
    animation: hithere 1s ease infinite;
}

#logo-two:hover{
    animation: hithere 1s ease infinite;
}
#logo-three:hover{
    animation: hithere 1s ease infinite;
}



  @keyframes hithere {
    30% { transform: scale(2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }